<div class="about_callout">
	<div class="top container text-center">
        <h1>About Us</h1>
    </div>
</div>

<div class="about_mission">
	<div class="container text-center">
		<h1>The Mission</h1>
		<p>Graduate and undergraduate students experience a great disconnect between academic work and real-world impact. Much of their skills and experience are not applied to real-world problems during their time in Berkeley. At the same time, many organizations on and off campus have limited bandwidth to solve their complex data science challenges. BIDS Collaborative will solve this disconnect between student demand for projects with real-world impact and institutions that lack the resources to recruit data scientists. 

		BIDS Collaborative will facilitate the creation of four-student interdisciplinary teams to work on semester- and year-long real-world projects. Working with faculty, we will also provide students with academic credit and training opportunities. BIDS Collaborative hopes to develop innovative data science solutions to challenges in academia, government, non-profits, and industry while also creating a pipeline of students for successful future careers in data science. 
		</p>
	</div>
</div>
<div class="about_values">
	<div class="container text-center">
		<h1>Our Values</h1>
		<div class="row">
			<div class="col-md-8">
				<p>Our projects are carefully constructed from the first contact with the nonprofit to project deployment and live use. We are meticulous about our design, our process, and our code.</p>
			</div>
	  		<div class="col-md-4">
	  			<img src="..." alt="..." class="img-circle">
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<p>Our projects are carefully constructed from the first contact with the nonprofit to project deployment and live use. We are meticulous about our design, our process, and our code.</p>
			</div>
	  		<div class="col-md-4">
	  			<img src="..." alt="..." class="img-circle">
	  		</div>
			
		</div>
		<div class="row">
			<div class="col-md-8">
				<p>Our projects are carefully constructed from the first contact with the nonprofit to project deployment and live use. We are meticulous about our design, our process, and our code.</p>
			</div>
	  		<div class="col-md-4">
	  			<img src="..." alt="..." class="img-circle">
	  		</div>
		</div>
	</div>
</div>

