<!DOCTYPE html>
<html>
<head>
<!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
</head>

<body>
    <!-- Page Content -->
    <div class="home_callout">
        <div class="home_text container text-center">
            <h1>Real World Data Science Projects for UC Berkeley Students</h1>
            <%= link_to "Student Application", apply_path, :class => "btn btn-lg btn-primary" %>
        </div>
    </div>

    <div class="about_callout">
        <div class="about_text container text-center">
            <h1>What We Do</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="project_callout">
        <div class="project_text container text-center">
            <h1>Our Projects</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="contact_callout">
        <div class="contact_text container text-center">
            <h1>Contact BIDS Collaborative</h1>
            <p>Whether you are a student looking for projects or a team looking to partner with us, we want to hear from you. Get involved with BIDS!
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>
    
</html>
