<!DOCTYPE html>
<html>
<head>
<!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
</head>

<body>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.birds.com/wp-content/uploads/home/bird4.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Here is the Bird Project. We do bla bla</h2>
                    <%= link_to "Browse More Projects", projects_path, :class => "btn btn-lg btn-primary" %>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://www.omnihotels.com/-/media/images/hotels/homrst/restaurants/homrst-omni-homestead-resort-jeffersons-restaurant-2.jpg?w=1170');"></div>
                <div class="carousel-caption">
                    <h2>The Restaurant Project involves owiejr</h2>
                    <%= link_to "Browse More Projects", projects_path, :class => "btn btn-lg btn-primary" %>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://images-na.ssl-images-amazon.com/images/G/01/img15/pet-products/small-tiles/23695_pets_vertical_store_dogs_small_tile_8._CB312176604_.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Squeaky Ball Project is looking for student researchers!</h2>
                    <%= link_to "Browse More Projects", projects_path, :class => "btn btn-lg btn-primary" %>
                </div>
            </div>      
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>
    
</html>
