// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_callout, .about_callout {
	height: 100%;
    width: 100%;
    overflow: hidden;
	background-image: url(berkeley.jpg);
	background-size: cover;
}

.home_callout .top,
.about_callout .top {
	margin-top: 250px;

	h1 {
		color: white;
    	font-size: 36px;
	}
}

.home_about, .about_mission {
	padding-top: 100px;
	padding-bottom: 100px;
}

.home_project {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: lightgrey;
}

.home_contact {
	padding-top: 100px;
	padding-bottom: 100px;
}




