#wrapper {
    padding-left: 0;
   
}

#sidebar-wrapper {
	width: 250px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 100px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #ffffff;
}

.container {
    margin-left: 200px;
}